:root {
    --dark-color: #17144e;
}

body {
    overflow-x: hidden;
    direction: rtl;
    font-family: cairo, tajawal, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eee;
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url('./../images/header_texture.png');
    background-size: cover;
}

.cursor-pointer {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

header {
    background-color: var(--dark-color);
    color: #fff;
    min-height: 100vh;
    position: relative;
}

header .content {
    position: relative;
    top: 150px;
}

header .content h1 {
    font-size: 60px;
    margin-bottom: 25px;
}

header .max-bottom {
    position: absolute;
    bottom: 35px;
    right: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header .bottom-spinner {
    border: 2px solid #fff;
    width: 35px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .bottom-spinner span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    background-color: #fff;
    animation: headerSpinner .7s infinite linear alternate;
}

@keyframes headerSpinner {
    from {
        margin-top: -40px;
    }

    to {
        margin-top: 40px;
    }
}

h1.theme-heading {
    font-size: 28px;
    font-weight: bold !important;
    margin: 20px 0px;
    display: inline-block;
}

h1.theme-heading span {
    display: block;
}

h1.theme-heading span:first-of-type {
    margin-bottom: 10px;
}

h1.theme-heading span:nth-of-type(2),
h1.theme-heading span:last-of-type {
    height: 5px;
    width: 100%;
    background-color: #ababab;
}

h1.theme-heading span:last-of-type {
    margin-top: 5px;
    width: 80%;
}

.surah_name::before {
    content: "✨ سورة ";
}

a,
a:hover {
    color: inherit;
    text-decoration: inherit;
}

#main-loader {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    background-color: #fff;

    z-index: 100;
    transition: 1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-loader span {
    border-radius: 50%;
    border: 3px solid var(--dark-color);
    position: absolute;
}

#main-loader span:first-of-type {
    width: 50px;
    height: 50px;
    border-top-color: #0000;
    animation: mainLoaderAnimation 1s infinite linear;
}

#main-loader span:nth-of-type(2) {
    width: 40px;
    height: 40px;
    border-top-color: #0000;
    animation: mainLoaderAnimation .8s infinite linear;
}

#main-loader span:last-of-type {
    width: 30px;
    height: 30px;
    border-top-color: #0000;
    animation: mainLoaderAnimation .6s infinite linear;
}

@keyframes mainLoaderAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.surah-content {
    font-size: 20px;
}

#dateToday {
    font-size: 15px;
    font-weight: 200;
}